/* tr:hover {
    background-color: #dddddd;
} */

.price-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style-type: none;
    padding: 0;
    margin: 0 0 40px;
}


.table {
	width: 100%;
	margin-bottom: 40px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
    text-align: left;
}

.table:last-child {
    margin-bottom: 120px;
}

.table__head {
	font-weight: bold;
	padding: 10px 15px;
	background: #efefef;
	border: 1px solid #dddddd;
    font-size: 18px;
    
}
.table__stroke {
	border: 1px solid #dddddd;
	padding: 10px 15px;
}

.table__title {
    margin: 0;
    font-size: 19px;
}

.link_place_price-title {
    font-size: 19px;
}

.link_place_price-list {
    color: rgb(139, 123, 255);
    font-size: 14px;
}


@media (max-width: 770px) {
    .table {
        margin-bottom: 20px;
    }

    .table:last-child {
        margin-bottom: 80px;
    }
}

@media (max-width: 425px) {  
    .table__stroke {
        padding: 5px 5px;
    }
}